html,
body,
h1,
div,
p,
ul,
li {
  padding: 0;
  margin: 0;
  line-height: initial;
}
html,
body {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.center {
  width: 1190px;
  margin: 0 auto;
}

/* 颜色 */
$themes-color: #006bff;
$themes-opc: #3b8eff;
/* 字体大小 */
.fs12 {
  font-size: 12px;
  line-height: 12px;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
  line-height: 14px;
}
.fs16 {
  font-size: 16px;
  line-height: 16px;
}
.fs18 {
  font-size: 18px;
  line-height: 18px;
}
.fs20 {
  font-size: 20px;
  line-height: 20px;
}
.fs22 {
  font-size: 22px;
  line-height: 22px;
}
.fs24 {
  font-size: 24px;
  line-height: 24px;
}
.fs26 {
  font-size: 26px;
  line-height: 26px;
}
.fs28 {
  font-size: 28px;
}
.fs30 {
  font-size: 30px;
  line-height: 30px;
}
.fs40 {
  font-size: 40px;
  line-height: 40px;
}
.fs64 {
  font-size: 64px;
  line-height: 64px;
}

@media screen and (max-width: 1200px) {
  .center {
    width: 1390px;
    padding: 0 100px;
    box-sizing: border-box;
  }
}
